.banner-fluid {
    background: #0082f9;
    padding: 20px 0;

    .container {
        width: 1000px;
        min-height: 110px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 20px;
        color: #fffffd;

        .thumb-wrapper {
            display: flex;
            align-items: center;
            padding: 0 10px;
            gap: 10px;
            border-radius: 10px;
            transition: 200ms linear;

            .thumb-image {
                width: 50px;
                height: 50px;

                img {
                    object-fit: contain;
                }
            }

            h4 {
                text-transform: uppercase;
            }

            &:hover {
                background: rgba($color: #333, $alpha: 0.2);
            }
        }
    }
}
