.comic-fluid {
    background: #ffffff;
}

.badge-comic {
    top: -130px !important;
    filter: drop-shadow(2px 2px 5px black);
    background: none !important;
}

.comic-title {
    padding-top: 100px;
    color: #000000;
}

.description {
    padding: 20px 0;
    padding-bottom: 80px;
    line-height: 25px;
    font-size: 15px;
    color: #000000;
}
