@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;

0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);.header-fluid {
  background: white;
}

.header-fluid .container {
  width: 1000px;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-fluid .container .logo {
  width: 60px;
  height: 60px;
}

.header-fluid .container .nav-link ul {
  display: flex;
  gap: 20px;
}

.header-fluid .container .nav-link li {
  line-height: 77px;
  border-bottom: 3px solid transparent;
  font-size: 11px;
  cursor: pointer;
  transition: 200ms linear;
}

.header-fluid .container .nav-link li a {
  font-weight: 700;
  text-transform: uppercase;
  transition: 200ms linear;
}

.header-fluid .container .nav-link li:hover {
  border-bottom: 3px solid #0082f9;
}

.header-fluid .container .nav-link li:hover a {
  color: #0082f9;
}

.footer-fluid {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}

.footer-fluid .container {
  width: 1000px;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  color: #fffffd;
}

.footer-fluid .container .list-col {
  width: 60%;
  padding: 20px 0;
  display: flex;
  gap: 30px;
}

.footer-fluid .container .list-col h2 {
  padding: 10px 0;
  text-transform: uppercase;
}

.footer-fluid .container .list-col li {
  cursor: pointer;
  color: #788d77;
}

.footer-fluid .container .list-col li:hover {
  color: #fffffd;
  text-decoration: underline;
}

.footer-fluid .container .logo-col {
  width: 40%;
  background-image: url("/img/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

.nav-footer-fluid {
  background: #303030;
}

.nav-footer-fluid .container {
  width: 1000px;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-footer-fluid .container .button {
  padding: 10px;
  border: 2px solid #0c80f7;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fffffd;
  transition: 200ms linear;
}

.nav-footer-fluid .container .button:hover {
  transform: scale(1.1);
  background: #1e518d;
}

.nav-footer-fluid .container .social-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  color: #0c80f7;
  cursor: default;
}

.nav-footer-fluid .container .icons-wrapper {
  display: flex;
  gap: 10px;
}

.nav-footer-fluid .container .icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 200ms linear;
}

.nav-footer-fluid .container .icon:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #2c3e50;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

